<h3>Spaltengrößen</h3>
<div class="nx-btn-group">
    {% for key, size in editableBreakpoints %}
        <label class="nx-btn nx-btn-secondary" title="{{ size }}">
            <input type="checkbox" name="configurableSizes[]" id="nx-columns-{{ key }}">
            <span class="nx-icon-viewport-{{ key }}"></span>
        </label>
    {% endfor %}
</div>
<p class="tl_help tl_tip" title="">Hier können Sie Spaltengrößen auswählen.</p>

<div class="nx-grid-row">
    {% for key, size in editableBreakpoints %}
    <div class="nx-grid-col">
        <h3>{{ ('tl_content.nx_grid_breakpoint_' ~ key ~ '.0')|trans([], 'contao_default')}}</h3>
        <select class="tl_select">
            <option>Automatisch</option>
            {% for size in range(12, 1) %}
                <option>{{ size }} Spalten [{{ ((100 / 12) * size)|round }}%]</option>
            {% endfor %}
        </select>
        <p class="tl_help tl_tip" title="">Hier können Sie Spaltengrößen auswählen.</p>
    </div>
    {% endfor %}
</div>
